
.active {
    background-color: green;
}

button {
    border:none;
    outline: none;
}

.prevButton {
     background: url('images/download.png') no-repeat;
     width: 20px;
     height: 20px;
     background-size: 15px 15px;
 }

.nextButton {
    transform: rotate(180deg);
    background: url('images/download.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
}

.likeButton {
    background: url('images/full-heart.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: 30px 18px;
    transform: translateY(10px);
}
