
.active {
    background: aqua;
}

button {
    border: none;
    outline: none;
}

.Player-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.tracks-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.prev-button {
    top: 6px;
    position: relative;
    background: url('images/download.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
}

.next-button {
    top: 1px;
    position: relative;
    transform: rotate(180deg);
    background: url('images/download.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
}

.like-button {

}

.red {
    color: red
}

.close {
    font-weight: 900;
}

.rounded {
    width: 250px;
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.action-likes-row {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.actions-list {
    width: 250px;
}

.logs-list {
    max-height: 600px;
    overflow-y: scroll;
}

.song-item {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.status-buttons {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;

}

.nav-item {
    margin-left: 10px;
    color: #007FFF;
    font: bold 24px "Helvetica Neue";
    text-decoration: none;
}

.selected {
    text-decoration: underline;
}

.album {
    width: 200px;
    height: 200px;
    display: inline-flex;
    border: 1px solid blue;
    margin: auto;
}

.albumsHeader {
    text-align: center;
    margin-bottom: 50px;
}

.picture {
    width: 150px;
    height: 150px;
    display: inline-block;
}